.newspostsbody {
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: fit-content;
  padding: 10px;
}
.search {
  padding: 10px;
  width: fit-content;
}
form {
  display: flex;
  justify-content: flex-end;
}
input {
  padding: 2%;
  font-family: cursive;
  border: 2px solid black;
  border-right: 0px solid black;
}
button {
  padding: 2%;
  font-family: cursive;
  background-color: white;
  cursor: pointer;
}
@media screen and (max-width: 525px) {
  .logo {
    width: 100%;
    text-align: center;
  }
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
